{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}{{ post["title"] }}{% endblock %}</h1>
{% endblock header %}

{% block content %}
<article>
    {{ content|safe }}
</article>
{% endblock content %}

{% block footer %}
    {% if post["author_id"] %}
    <footer>
        {% if post["picture_url"] %}
            <img src="{{ post['picture_url'] }}" alt="{{ post['name'] }}"/>
        {% endif %}
        <h2>{{ post["author_name"] }}<h2>
    </footer>
    {% endif %}
{% endblock footer %}


